<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
<head>
    <title>{{0.volume}}</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
</head>
<body>
{{#each this}}
    {{#unless @first}}
        <p class="blank"></p>
    {{/unless}}
    <h3 class="title">{{title}} - {{author}}</h3>
    {{#if biography}}
        <p class="biography">{{biography}}</p>
    {{/if}}
    <p class="biography"></p>
    {{#each paragraphs}}
        <p class="std">{{this}}</p>
    {{/each}}
    {{#each notes}}
        {{#if this}}
            {{#if @first}}
                <p class="notes">注：</p>
            {{/if}}
            <p class="notes">{{this}}</p>
        {{/if}}
    {{/each}}
{{/each}}
</body>
</html>